{% if render %}
<div class="container card">
    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col-6 "><strong>Team Name</strong></div>
          <div class="col-6 text-center"><strong>Score</strong></div>
</div>
        {% for item in  items%}
        <div class="row">
          <div class="col-6 ">{{item[0]}}</div>
          <div class="col-6 text-center ">{{item[1]}} - {{item[2]}}</div>
        </div>
        {% endfor %}


    </div>
 </div>
{% endif %}
