<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-3">Welcome to DOTABASE!</h1>
    <p class="lead">A database project for Dota tournaments, teams and players.</p>
    <hr class="my-5">
    <p class="lead my-0 text-right">
      <a class="btn btn-primary btn-lg" href="/player" role="button">Top Players</a>
      <a class="btn btn-primary btn-lg" href="/team" role="button">Team Rankings</a>
      or
      <a class="btn btn-primary btn-lg" href="/tournaments" role="button">Upcoming Tournaments</a>
    </p>
  </div>
</div>
