<div class="container my-5">

<form action="" method="post">
  <div class="form-group row">
    <label for="inputTeamId" class="col-sm-2 col-form-label-lg">Team 1's ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=t_id id="inputTeamtId" placeholder="Team 1's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTeamId2" class="col-sm-2 col-form-label-lg">Team 2'2 ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=t_id_2 id="inputTeamId2" placeholder="Team 2's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBracketId" class="col-sm-2 col-form-label-lg">Bracket ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=br_id id="inputBracketId" placeholder="Bracket's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMatchType" class="col-sm-2 col-form-label-lg">Match Type</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=m_type id="inputMatchType" placeholder="Match Type">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputResult" class="col-sm-2 col-form-label-lg">Result</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=t_id id="inputResult" placeholder="Result">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTeamScore" class="col-sm-2 col-form-label-lg">Team 1's Score</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=t_1_score id="inputTeamScore" placeholder="Team 1's Score">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTeamScore2" class="col-sm-2 col-form-label-lg">Team 2's Score</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=t_2_score id="inputTeamScore2" placeholder="Team 2's ID">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 my-5">
      <button type="submit" class="btn btn-dark btn-lg btn-block">Add</button>
    </div>
  </div>
  

</form>

</div>