<div class="container my-5" style="min-height:800px">

<form action="" method="post">

  <div class="form-group row">
    <label for="inputTournamentId" class="col-sm-2 col-form-label-lg">Tournament ID</label>
    <div class="col-sm-10">
      <input type="number" readonly class="form-control form-control-lg" name=tr_id id="inputTournamentId" placeholder="Tournament's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTournamentName" class="col-sm-2 col-form-label-lg">Tr. Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" name=tr_name id="inputTournamentName" placeholder="Tournament's Name">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputTeamId" class="col-sm-2 col-form-label-lg">Team ID</label>
    <div class="col-sm-10">
      <input type="number" readonly class="form-control form-control-lg" name=t_id id="inputTeamId" placeholder="Team's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTeamName" class="col-sm-2 col-form-label-lg">Team Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" name=t_name id="inputTeamName" placeholder="Team's Name">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPlayerId" class="col-sm-2 col-form-label-lg">Player ID</label>
    <div class="col-sm-10">
      <input type="number" readonly class="form-control form-control-lg" name=p_id id="inputPlayerId" placeholder="Player's ID">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPlayerName" class="col-sm-2 col-form-label-lg">Player Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" name=p_name id="inputPlayerName" placeholder="Player's Name">
    </div>
  </div>

  <hr>

  <div class="form-group row">
    <label for="inputPlacement" class="col-sm-2 col-form-label-lg">Placement</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=placement id="inputPlacement" placeholder="Placement">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDpcPoint" class="col-sm-2 col-form-label-lg">DPC Points</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=dpc_points id="inputDpcPoint" placeholder="DPC Points">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPrize" class="col-sm-2 col-form-label-lg">Prize</label>
    <div class="col-sm-10">
      <input type="number" class="form-control form-control-lg" name=prize id="inputPrize" placeholder="Prize">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 my-5">
      <button type="submit" class="btn btn-dark btn-lg btn-block">Add</button>
    </div>
  </div>

</form>

</div>

<script>
$( function() {
  $("#inputPlayerName").autocomplete({
    source: function(request,response){
      $.getJSON("../json/player/"+request.term, function (data) {
        console.log(data);
        response($.map(data, function (value) {
              return {
                  value: value["id"],
                  label: value["name"]
              };
          }));
        });
    },
    dataType: "json",
    select: function(event,ui){
      event.preventDefault();
      $(this).val(ui.item.label);
      $("#inputPlayerId").val(ui.item.value);
    }
  });
} );
$( function() {
  $("#inputTeamName").autocomplete({
    source: function(request,response){
      $.getJSON("../json/team/"+request.term, function (data) {
        console.log(data);
        response($.map(data, function (value) {
              return {
                  value: value["id"],
                  label: value["name"]
              };
          }));
        });
    },
    dataType: "json",
    select: function(event,ui){
      event.preventDefault();
      $(this).val(ui.item.label);
      $("#inputTeamId").val(ui.item.value);
    }
  });
} );
$( function() {
  $("#inputTournamentName").autocomplete({
    source: function(request,response){
      $.getJSON("../json/tournament/"+request.term, function (data) {
        console.log(data);
        response($.map(data, function (value) {
              return {
                  value: value["id"],
                  label: value["name"]
              };
          }));
        });
    },
    dataType: "json",
    select: function(event,ui){
      event.preventDefault();
      $(this).val(ui.item.label);
      $("#inputTournamentId").val(ui.item.value);
    }
  });
} );
</script>
