
  <div class="card text-uppercase mb-3">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="value h1">{{ stats[0][1] }}</div>
          <div class="label">{{ stats[0][0] }}</div>
        </div>
        <div class="col-sm-3">
          <div class="value h1">{{ stats[1][1] }}</div>
          <div class="label">{{ stats[1][0] }}</div>
        </div>
        <div class="col-sm-3">
          <div class="value h1">{{ stats[2][1] }}</div>
          <div class="label">{{ stats[2][0] }}</div>
        </div>
        <div class="col-sm-3">
          <div class="value h1">#{{ stats[3][1] }}</div>
          <div class="label">{{ stats[3][0] }}</div>
        </div>
      </div>
    </div>
  </div>
