{% if items|length > 0  %}
  <div class="h2 mb-3 pl-1 text-wlight">Talent</div>
  <hr/>
  <div class="row" >
    {% for itemx in items%}
      <div class="col-{{12 // items|length}}" style="width:inherit">
      {% for itemz in itemx%}
        {% if itemz|length > 0 %}
            <div class="card mb-3 p-3">
              <div class="h3 mb-2 text-wlight">{{ itemz[0][0] }} - {{ itemz[0][4] }}</div>
              {% for item in itemz %}
                <p class="m-0">{{item[2]}} <b>"<a class="text-dark" href="../player/{{item[1]}}">{{item[1]}}</a>"</b> {{item[3]}} {% if current_user.is_authenticated %}<a class="text-danger" href="/remove_talent/{{item[6]}}/{{id}}">Remove</a>{% endif %} </p>
              {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}
