<div class="container" style="min-height:800px">
  <div class="row">
    <div class="col">
    <div class="card my-3 p-2">
      <div class="h1 text-center my-3 text-wlight">{{ name }}</div>
      {% for key, value in info %}
      <div class="text-center my-1">
        <b>{{ key }}:</b> {{ value }}
      </div>
      {% endfor %}
      {% if current_user.is_authenticated %}
      <div class="row">
      <a class="text-danger w-100 text-center" href="/update_{{route}}/{{id}}">Update [{{route}}/{{id}}]</a>
      </div>
      <div class="row text-center">
      <a class="text-danger w-100 text-center" href="/remove_{{route}}/{{id}}">Remove [{{route}}/{{id}}]</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
